<mat-card class="cardWithShadow theme-card">
  <div class="p-6">
    <mat-card-title class="mb-0">Listes</mat-card-title>
  </div>
  <mat-card-content class="border-t border-border">
    <div class="grid grid-cols-12 gap-6">
      <div class="col-span-12 lg:col-span-6">
        <!-- --------------------------------------------------- -->
        <!-- basic -->
        <!-- --------------------------------------------------- -->
        <mat-card class="border! border-border! shadow-none mb-0!">
          <div class="p-4">
            <mat-card-title>Basique</mat-card-title>
          </div>
          <mat-card-content class="border-t border-border">
            <mat-list role="list">
              <mat-list-item role="listitem">Élément 1</mat-list-item>
              <mat-list-item role="listitem">Élément 2</mat-list-item>
              <mat-list-item role="listitem">Élément 3</mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-span-12 lg:col-span-6">
        <!-- --------------------------------------------------- -->
        <!-- two line -->
        <!-- --------------------------------------------------- -->
        <mat-card class="border! border-border! shadow-none mb-0!">
          <div class="p-4">
            <mat-card-title>Deux Lignes</mat-card-title>
          </div>
          <mat-card-content class="border-t border-border">
            <mat-list>
              <mat-list-item>
                <span matListItemTitle class="text-base font-semibold">Titre</span>
                <span matListItemLine>Deuxième ligne</span>
              </mat-list-item>
              <mat-list-item>
                <span matListItemTitle class="text-base font-semibold">Titre</span>
                <span matListItemLine>Deuxième ligne</span>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-span-12 lg:col-span-6">
        <!-- --------------------------------------------------- -->
        <!-- two line -->
        <!-- --------------------------------------------------- -->
        <mat-card class="border! border-border! shadow-none mb-0!">
          <div class="p-4">
            <mat-card-title>Trois Lignes</mat-card-title>
          </div>
          <mat-card-content class="border-t border-border">
            <mat-list>
              <mat-list-item>
                <span matListItemTitle class="text-base font-semibold">Titre</span>
                <span matListItemLine>Deuxième ligne</span>
                <span matListItemLine>Troisième ligne</span>
              </mat-list-item>
              <mat-list-item>
                <span matListItemTitle class="text-base font-semibold">Titre</span>
                <span matListItemLine>Deuxième ligne. Cette ligne sera tronquée.</span>
                <span>Troisième ligne</span>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-span-12 lg:col-span-6">
        <!-- --------------------------------------------------- -->
        <!-- two line -->
        <!-- --------------------------------------------------- -->
        <mat-card class="border! border-border! shadow-none mb-0!">
          <div class="p-4">
            <mat-card-title>Trois Lignes avec retour à la ligne</mat-card-title>
          </div>
          <mat-card-content class="border-t border-border">
            <mat-list style="max-width: 500px">
              <mat-list-item lines="3">
                <span matListItemTitle class="text-base font-semibold">Titre</span>
                <span>Ligne secondaire qui s'enroulera car les lignes de la liste sont
                  explicitement définies sur 3 lignes. Le texte à l'intérieur d'un `matListItemTitle`
                  ou `matListItemLine` ne s'enroulera jamais.
                </span>
              </mat-list-item>
              <mat-list-item lines="3">
                <span matListItemTitle class="text-base font-semibold">Titre</span>
                <span>Ligne secondaire qui s'enroulera car les lignes de la liste sont
                  explicitement définies sur 3 lignes. Le texte à l'intérieur d'un `matListItemTitle`
                  ou `matListItemLine` ne s'enroulera jamais.
                </span>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-span-12 lg:col-span-6">
        <!-- --------------------------------------------------- -->
        <!-- List with Selection -->
        <!-- --------------------------------------------------- -->
        <mat-card class="border! border-border! shadow-none mb-0!">
          <div class="p-4">
            <mat-card-title>List with Selection</mat-card-title>
          </div>
          <mat-card-content class="border-t border-border">
            <mat-selection-list #shoes>
              @for(shoe of typesOfShoes; track shoe) {
              <mat-list-option>
                {{ shoe }}
              </mat-list-option>
              }
            </mat-selection-list>

            <p class="font-semibold p-4 bg-light-primary rounded">
              Options selected: {{ shoes.selectedOptions.selected.length }}
            </p>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-span-12 lg:col-span-6">
        <!-- --------------------------------------------------- -->
        <!-- List with single Selection -->
        <!-- --------------------------------------------------- -->
        <mat-card class="border! border-border! shadow-none mb-0!">
          <div class="p-4">
            <mat-card-title>List with single Selection</mat-card-title>
          </div>
          <mat-card-content class="border-t border-border">
            <mat-selection-list #shoes2 [multiple]="false">
              @for(shoe of typesOfShoes; track shoe) {
              <mat-list-option [value]="shoe">
                {{ shoe }}
              </mat-list-option>
              }
            </mat-selection-list>

            <p class="font-semibold p-4 bg-light-primary rounded">
              Option selected:
              {{
              shoes2.selectedOptions.hasValue()
              ? shoes2.selectedOptions.selected[0].value
              : "None"
              }}
            </p>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-span-12">
        <!-- --------------------------------------------------- -->
        <!-- List with sections -->
        <!-- --------------------------------------------------- -->
        <mat-card class="border! border-border! shadow-none mb-0!">
          <div class="p-4">
            <mat-card-title>List with sections</mat-card-title>
          </div>
          <mat-card-content class="border-t border-border">
            <mat-list>
              <div mat-subheader class="mb-4 font-semibold">Folders</div>
              @for(folder of folders; track folder.name) {
              <mat-list-item>
                <mat-icon matListItemIcon>folder</mat-icon>
                <div matListItemTitle class="font-semibold">
                  {{ folder.name }}
                </div>
                <div matListItemLine class="text-sm ">
                  {{ folder.updated | date }}
                </div>
              </mat-list-item>
              }

              <mat-divider></mat-divider>
              <div mat-subheader class="my-4 font-semibold">Notes</div>
              @for(note of notes; track note.name) {
              <mat-list-item>
                <mat-icon matListItemIcon>note</mat-icon>
                <div matListItemTitle class="font-semibold">
                  {{ note.name }}
                </div>
                <div matListItemLine class="text-sm ">
                  {{ note.updated | date }}
                </div>
              </mat-list-item>
              }
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-card-content>
</mat-card>