<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<mat-card class="cardWithShadow">
  <mat-card-content>
    <mat-card-title>Icônes</mat-card-title>
    <mat-card-subtitle class="mb-6">Icônes Solar</mat-card-subtitle>
    <iframe src="https://icon-sets.iconify.design/solar/" title="Icônes Solar" width="100%" height="590px" frameBorder="0">
    </iframe>
  </mat-card-content>
</mat-card>