<mat-card class="cardWithShadow theme-card">
  <div class="p-6">
    <mat-card-title class="mb-0">Formulaire</mat-card-title>
  </div>
  <mat-card-content class="border-t border-border">
    <form>
      <div class="grid grid-cols-12 gap-x-6">
        <div class="col-span-12 lg:col-span-6">
          <!-- input -->
          <mat-label class="font-semibold mb-2 block">Votre Nom</mat-label>
          <mat-form-field appearance="outline" class="w-full" color="primary">
            <input matInput placeholder="votre nom " />
          </mat-form-field>
        </div>
        <div class="col-span-12 lg:col-span-6">
          <mat-label class="font-semibold mb-2 block">Pays</mat-label>
          <mat-form-field appearance="outline" class="w-full">
            <mat-select [(value)]="selectedCountry">
              @for(option of country; track option.value) {
              <mat-option [value]="option.value">{{
                option.viewValue
                }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-span-12 lg:col-span-6">
          <!-- input -->
          <mat-label class="font-semibold mb-2 block">E-mail</mat-label>
          <mat-form-field appearance="outline" class="w-full" color="primary">
            <input matInput type="email" placeholder="votre e-mail" />
          </mat-form-field>
        </div>
        <div class="col-span-12 lg:col-span-6">
          <mat-label class="font-semibold mb-2 block">Région</mat-label>
          <mat-form-field appearance="outline" class="w-full">
            <mat-select [(value)]="selectedState">
              @for(option of state; track option.value) {
              <mat-option [value]="option.value">{{
                option.viewValue
                }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-span-12 lg:col-span-6">
          <!-- input -->
          <mat-label class="font-semibold mb-2 block">Mot de passe</mat-label>
          <mat-form-field appearance="outline" class="w-full" color="primary">
            <input matInput type="password" placeholder="votre mot de passe" />
          </mat-form-field>
        </div>
        <div class="col-span-12 lg:col-span-6">
          <mat-label class="font-semibold mb-2 block">Ville</mat-label>
          <mat-form-field appearance="outline" class="w-full">
            <mat-select [(value)]="selectedCity">
              @for(option of city; track option.value) {
              <mat-option [value]="option.value">{{
                option.viewValue
                }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="mt-3">
        <button mat-flat-button color="primary" class="me-2">Envoyer</button>
        <button mat-stroked-button color="warn">Annuler</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>