<div class="blue_theme light-theme" dir="ltr">
  <!-- Topstrip removed for production -->
  <mat-sidenav-container class="mainWrapper" autosize autoFocus>
    <!-- ============================================================== -->
    <!-- Vertical Sidebar -->
    <!-- ============================================================== -->

    <mat-sidenav #leftsidenav [mode]="isOver ? 'over' : 'side'" [opened]="!isOver"
      (openedChange)="onSidenavOpenedChange($event)" (closedStart)="onSidenavClosedStart()" class="sidebarNav">
      <div class="flex-layout">
        <app-sidebar (toggleMobileNav)="sidenav.toggle()" [showToggle]="isOver"></app-sidebar>
        <ng-scrollbar class="relative" style="height: 100%">
          <mat-nav-list class="sidebar-list">
            @for(item of navItems; track item) {
            <app-nav-item [item]="item" (notify)="sidenav.toggle()" class="top-parent">
            </app-nav-item>
            }
          </mat-nav-list>
        </ng-scrollbar>
      </div>
    </mat-sidenav>

    <!-- ============================================================== -->
    <!-- Main Content -->
    <!-- ============================================================== -->
    <mat-sidenav-content class="contentWrapper" #content>

      <app-header [showToggle]="!isOver" (toggleCollapsed)="toggleCollapsed()"
        (toggleMobileNav)="sidenav.toggle()"></app-header>

      <main class="pageWrapper maxWidth">

        <!-- ============================================================== -->
        <!-- Outlet -->
        <!-- ============================================================== -->
        <router-outlet></router-outlet>
      </main>

      <footer class="text-center text-muted pt-2.5 pb-6">
        Développé par
        <span class="text-primary font-medium">ETU 1773 - FANAHY MANAMPENO Joss Elito</span>
        &amp;
        <span class="text-primary font-medium">ETU 1793 - RABARIJAONA Harena Juan</span>
      </footer>

    </mat-sidenav-content>

  </mat-sidenav-container>
</div>